.svg-icon {
  width: 30px;
  height: 30px;
  vertical-align: text-bottom;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.paginator {
  text-align: right;
}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0 0 1rem;
}

.pagination li {
    margin: 0 0.5rem;
}

/*
.prev.disabled a,
.next.disabled a {
    cursor: not-allowed;
    color: #606c76;
}
*/
